
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 85px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 320px;
  animation: fadeSlide 0.8s ease;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.8rem;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #1c92d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #007acc;
}

.form-message {
  margin-top: 10px;
  text-align: center;
  color: #e63946;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 65px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  gap: 30px;
  backdrop-filter: blur(5px);
}

.side-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 300px;
}

.side-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.side-text {
  font-size: 1rem;
  font-style: italic;
}

/* Animation */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
